<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,132},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,68},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>block.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f91254191fe28d9a9ca296f0af2b32$</string>
            <key>textureFileName</key>
            <string>block.pvr.ccz</string>
        </dict>
    </dict>
</plist>
